#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  gap: 1em;
  height: 100vh;
}

#roomInputHeader,
#roomListDiv {
  font-size: 3rem;
  margin-bottom: 0;
}

#roomListDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  text-align: center;
}

#roomListItem {
  font-size: 2rem;
  border-radius: 0.6rem;
  border: 0.2rem solid;
  padding: 1rem;
  transition: 0.5s;
  list-style-type: none;
}

#roomListItem:hover {
  filter: invert(1);
  border: 0.2rem solid #2f3136;
}

#largeRoomList {
  list-style-type: none;
  text-align: center;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

#roomNameHeader {
  text-align: center;
}

#roomListItem {
  font-size: 1.5rem;
  border-radius: 0.6rem;
  border: 0.2rem solid;
  padding: 1rem;
  transition: 0.5s;
  list-style-type: none;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
}

#smallRoomList {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 0;
}
